@import "tailwindcss";
@import "tw-animate-css";
@config '../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
}

:root {
  --background: oklch(1 0 0);
  --primary: oklch(66.44% 0.13 213.89);
  --secondary: oklch(51.18% 0.17 29.88);
  --accent: oklch(0.94 0 0 / 0.8);
  --destructive: oklch(0.577 0.245 27.325);
  --ring: oklch(0.708 0 0);
  --sidebar: oklch(0.985 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.6692 0.1693 262.94);
  --accent: oklch(0.25 0.01 270);
  --destructive: oklch(0.704 0.191 22.216);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
}

@layer base {
  html {
    line-height: 1;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  /* Safari and Chrome */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
